<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/assets/css/style.css">
  <link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
  <title>Document</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container navbar-container">
        <a class="navbar-brand text-white" href="#">TheSilentVoice</a>
        <div class="justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link text-white" href="#">Features</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="main-banner">
    <div class="container py-5 d-flex flex-column align-items-center justify-content-center ">
      <div class="main-banner--img">
        <img src="static/assets/img/w.png" alt="" srcset="">
        <img class="mb-5" src="static/assets/img/e.png" alt="" srcset="">
        <img src="static/assets/img/l.png" alt="" srcset="">
        <img class="mb-5" src="static/assets/img/c.png" alt="" srcset="">
        <img src="static/assets/img/o.png" alt="" srcset="">
        <img class="mb-5" src="static/assets/img/m.png" alt="" srcset="">
        <img src="static/assets/img/e.png" alt="" srcset="">
      </div>
      <h1 class="main-banner--title  mb-4">Welcome To The Silent Voice</h1>
      <p class="text-center px-10 mb-4 text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
        ipsa numquam architecto cupiditate, voluptatem sequi fuga. Deleniti minima facilis eius excepturi, nostrum
        laudantium magnam! Maiores dignissimos sunt blanditiis minima in?Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Corporis ipsa numquam architecto cupidita?</p>
      <div class="border-btn">
        <a class="btn-main" href="#main">Start Now</a>
      </div>
    </div>
  </div>

  <section id="main" class=" main-section">
    <div class="py-6  ">
      <div class="circle"></div>
      <div class="circle1"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-6 pe-md-5  d-flex flex-column justify-content-center ">
            <div class="section-title">
              <h2 class="text-center">Text to Sign Language</h2>
              <span></span>
            </div>
            <div class="mt-5 inner-section  d-flex flex-column align-items-center">
              <label for="text-input">Enter the Text you want to Translate:</label>
              <input type="text" name="text-input" id="text-input">
              <button class="btn-translate">Translate</button>
            </div>
          </div>
          <div class="col-md-6 mt-5 mt-md-0">
              <img src="static/assets/img/img-01.jpg" class="img-fluid" alt="">
          </div>
        </div>

      </div>
    </div>
    <div class="py-6 pt-0">
      <div class="container">
        <div class="row">
          <div class="col-md-6 order-2 order-md-1 mt-5 mt-md-0">
            <img src="static/assets/img/img-01.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-md-6  d-flex flex-column justify-content-center order-1 order-md-2">
            <div class="section-title">
              <h2 class="text-center">Sign Language To Text</h2>
              <span></span>
            </div>

            <div class="mt-5 inner-section  d-flex flex-column align-items-center">
              <div class="img-inner d-flex justify-content-center mb-4">
                <img src="static/assets/img/r.png" alt="" srcset="">
                <img src="static/assets/img/e.png" alt="" srcset="">
                <img src="static/assets/img/c.png" alt="" srcset="">
                <img src="static/assets/img/o.png" alt="" srcset="">
                <img src="static/assets/img/r.png" alt="" srcset="">
                <img src="static/assets/img/d.png" alt="" srcset="">
              </div>
              <button class="btn-translate">Record Video</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <footer></footer>
</body>
<script href="static/assets/js/bootstrap.min.js"></script>

</html>