<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/assets/css/style.css">
    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">
    <title>Document</title>
</head>

<body class="inner">
    <div class="container  my-5 card">
        <div class="row">
            <div class="py-large col-lg-6 inner-section  pl-4 pr-5 ">
                <a class="inner-link" href="    "><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
                    </svg> Home</a>

                <div class="section-title mt-3" style="margin-bottom: 45px;">
                    <h3>Text to Sign Language(NSL)</h3>
                    <span style="margin-left: 0;"></span>
                </div>
                <form class="mb-4" action="" method="post" align="left">
                    {% csrf_token %}
                    <label>Enter Text</label>
                    <input type="text" name="sen" class="mytext" id="speechToText" placeholder="">
                    <button type="submit" class="submit btn-submit">Submit</button>

                </form>
                    <div class="mb-4">
                        <p>Entered Text:</p>
                        <div class="text-box">
                            <span class="text-input">{{ text }}</span>

                        </div>
                    </div>
                    <div style="list-style: none;">
                        <p>Keywords in sentence: </p>

                        <div class="text-box" id="list">
                            {% for word in words %}
                            <span id="{{ i }}" style="margin-right: 8px">{{ word }}</span>
                            {% endfor %}
                        </div>
                    </div>
            </div>


        <div class="col-lg-6 d-flex align-items-center justify-content-center bg" style="background-image: url('../static/assets/img/abstrac.jpg');">
            <div class="px-4 py-5">

                <div style="text-align:center"> &nbsp&nbsp
                    <button class="submit btn-vid" onclick="playPause()">
                        Play Animation
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                            <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                        </svg>
                    </button>
                    <!--  LETS USE ONLY PLAY PAUSE BUTTON WITH 720 *420 ,IT FITS THE SCREEN ASHISH
                    
                          <button onclick="makeBig()">Big</button>
                          <button onclick="makeSmall()">Small</button>
                          <button onclick="makeNormal()">Normal</button>-->


                    <video id="videoPlayer" src="" width="600" height="350" preload="auto" autoplay>
                        <source src="" type="video/mp4">
                        Your browser does not support HTML5 video.
                    </video>
                </div>
            </div>

        </div>
    </div>



    <script src="../static/assets/js/main.js"></script>
    <script>

        const micButton = document.getElementById('micButton');
        const stopButton = document.getElementById('stopButton');
        stopButton.style.display == "none";
        let isRecording = false;
        const recognition = new (window.SpeechRecognition || window.webkitSpeechRecognition || window.mozSpeechRecognition || window.msSpeechRecognition)();
        recognition.continuous = true;
        recognition.interimResults = true;

        micButton.addEventListener('click', () => {
            if (!isRecording) {
                micButton.style.backgroundColor = "red";
                recognition.start();
            } else {
                micButton.style.backgroundColor = "#0466c8e6";
                recognition.stop();
            }
            isRecording = !isRecording;
        });

        recognition.onresult = function (event) {
            console.log(event)
            document.getElementById('speechToText').value = event.results[0][0].transcript;
        }
        recognition.start();

        //webkitSpeechRecognition api for speech to text conversion
        // function record() {
        //     var recognition = new webkitSpeechRecognition();
        //     recognition.lang = 'en-IN';

        // recognition.onresult = function (event) {
        //     console.log(event)
        //     document.getElementById('speechToText').value = event.results[0][0].transcript;
        // }
        // recognition.start();
        // }

        function play() {
            var videoSource = new Array();
            var videos = document.getElementById("list").getElementsByTagName("span");
            var j;
            for (j = 0; j < videos.length; j++) {
                videoSource[j] = "../static/assets/ASL/" + videos[j].textContent + ".mp4";
                videoSource[j] = "../static/assets/NSL/" + videos[j].textContent + ".mp4";

            }

            var i = 0; // define i
            var videoCount = videoSource.length;

            function videoPlay(videoNum) {
                document.getElementById("list").getElementsByTagName("span")[videoNum].style.color = "#09edc7";
                document.getElementById("list").getElementsByTagName("span")[videoNum].style.fontSize = "xx-large";
                document.getElementById("videoPlayer").setAttribute("src", videoSource[videoNum]);
                document.getElementById("videoPlayer").load();
                document.getElementById("videoPlayer").play();

            }
            document.getElementById('videoPlayer').addEventListener('ended', myHandler, false);
            document.getElementById("list").getElementsByTagName("span")[0].style.color = "#09edc7";
            document.getElementById("list").getElementsByTagName("span")[0].style.fontSize = "xx-large";

            videoPlay(0); // play the video

            function myHandler() {
                document.getElementById("list").getElementsByTagName("span")[i].style.color = "#feda6a";
                document.getElementById("list").getElementsByTagName("span")[i].style.fontSize = "20px";
                i++;
                if (i == videoCount) {
                    document.getElementById("videoPlayer").pause();
                }
                else {
                    videoPlay(i);
                }
            }
        }
        /* LETS USE ONLY PLAY PAUSE BUTTON WITH 720 *420 ,IT FITS THE SCREEN
        function makeBig() {
            document.getElementById("videoPlayer").width = 560;
            document.getElementById("videoPlayer").height = 360;
        }
    
        function makeSmall() {
            document.getElementById("videoPlayer").width = 320;
            document.getElementById("videoPlayer").height = 180;
        }
    
        function makeNormal() {
            document.getElementById("videoPlayer").width = 420;
            document.getElementById("videoPlayer").height =280;
        }*/
        function playPause() {
            if (document.getElementById("videoPlayer").paused) {
                play();
            }
            else {
                document.getElementById("videoPlayer").pause();
            }
        }

    </script>


</body>

</html>